#navigation {
  background-color: grey;
  position: absolute;
  padding-top:10px;
  padding-bottom:10px;
  width:100%;
  z-index:1;
  margin-left: 10;
  margin-right: 10;
  font-family: "Arial", sans-serif;
  font-weight: bold;
}
.about {
  margin-left: 30px;
  font-size: 20px;
  color: white;
}

.submit {
  padding-right: 15px;
  padding-left: 20px;
  font-size: 20px;
  color: white;
}

.howto {
  font-size: 20px;
  color: white;
  padding-right: 15px;
  padding-left: 15px;
}
